@font-face {
  font-family: 'NanumOgBiCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumOgBiCe/NanumOgBiCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumOgBiCe/NanumOgBiCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumOgBiCe/NanumOgBiCe.ttf') format('truetype');
}